STOCKTOPUS_API_KEY=your_api_key_here
STOCKTOPUS_BASE_URL=https://stocktop.us/api/v1
MATERIALHUB_EXPORT_PATH=Exports
DATABASE_URL=mysql+pymysql://materialhub_user:"ADD PASSWORD HERE"@localhost:3306/materialhub