STOCKTOPUS_API_KEY=your_api_key_here
STOCKTOPUS_BASE_URL=https://stocktop.us/api/v1
MATERIALHUB_EXPORT_PATH=Exports
DATABASE_URL=mysql+pymysql://materialhub_user:"ADD PASSWORD HERE"@localhost:3306/materialhub
MATERIALHUB_SECRET_KEY=replace_with_a_long_random_secret
MATERIALHUB_ADMIN_USERNAME=admin
MATERIALHUB_ADMIN_PASSWORD_HASH=generate_with_python_m_scripts_hash_password
MATERIALHUB_BASIC_USERNAME=basic
MATERIALHUB_BASIC_PASSWORD_HASH=generate_with_python_m_scripts_hash_password
MATERIALHUB_COOKIE_HTTPS=false
